extends layout/main/main
block title
  | main
block main
  .wrapper
    .content
      include includes/header/header
      .last-news-main
        .container
          .cols-wrap
            .main-col
              a(href="#").news-preview.preview
                img(src="../../assets/img/news/main.jpg", alt="")
                .preview__title-news Льву Яшину - 90 лет!
            .secondary-col
              .main-news-list
                ul
                  each val, index in ['5 известных футболистов, вернувшихся в родные клубы или страны', 'Премьер Лига переходит на зимний мяч', 'Льву Яшину - 90 лет!','«Алга» - «Дордой»: прямая трансляция, онлайн - 0:0','Расслабляться «Академия Лидер» нельзя!','Дебют Рахимова в «Кара-Балта» - за кадром','«Нефтчи» и «Алай» поделили очки','Сборная КПЛ 5 тура. Обзор тура, лучшие игроки.','​Сборная Сербии наказана двумя матчами без зрителей','Дордой представил обновлённую раскраску клубного автобуса']
                    li
                      a(href="#")=val
                a(href="#").more ЕЩЕ НОВОСТИ
      .standings
        .container
          .standings__control
            h3.heading Турнирная таблица
            form
              .select-wrap
                span Сезон
                .select
                  input(type="hidden" class="select-item" name="select-season" value="2019")
                  .select_checked 2019
                  ul.select__dropdown
                    each val in [2019, 2020, 2021, 2022, 2023]
                      li.select__option(data-value=val)=val
          .cols-wrap
            .main-col            
              .standings__type            
                h2.heading.heading--heading-ttu КЫРГЫЗСКАЯ ПРЕМЬЕР-ЛИГА
                .standings__type-zone
                  a(href="#") НАЦ.ЛИГА, Зона А
                .standings__type-zone
                  a(href="#") НАЦ.ЛИГА, Зона B
              .standings__table

                table
                  thead
                    mixin table(team, ...tds)
                      tr
                        th
                        th=team
                        each td in tds
                          th= td
                    +table('Команда', 'И', 'В', 'Н','П','ЗМ','ПМ','РМ','О')
                  tbody
                    mixin table(number,logo,team, ...tds)
                      tr
                        td=number
                        td
                          a(href="#")
                            span.logo-team
                              img(src=logo)
                            =team
                        each td in tds
                          td= td
                    +table('1','assets/img/KPL-teams/Alga.png','Алга', '12', '11', '1','0','36','6','30','34')
                    +table('2','assets/img/KPL-teams/Dordoi.png','Дордой', '12', '7', '3','2','24','8','16','24')
                    +table('3','assets/img/KPL-teams/Neftchi.png','Нефтчи', '12', '7', '2','3','24','8','16','23')
                    +table('4','assets/img/KPL-teams/Ilbirs.png','Илбирс', '12', '6', '4','2','23','11','12','22')
                    +table('5','assets/img/KPL-teams/KaraBalta.png','Кара-Балта', '12', '6', '2','4','14','13','1','20')
                    +table('6','assets/img/KPL-teams/Abdysh-Ata.png','Абдыш-Ата', '12', '4', '4','4','11','16','-5','16')
                    +table('7','assets/img/KPL-teams/Alai.png','Алай', '12', '4', '2','6','9','23','-14','14')
                    +table('8','assets/img/KPL-teams/lider.png','Академия Лидер', '12', '3', '2','7','12','17','-5','11')


            .secondary-col
              .bombardier
                .standings__type
                  h3.heading Бомбардиры
                .bombardier__list
                  ul
                    li Игрок
                    li Голы
                  .bombardier__list-item.active
                    .bombardier__info
                      .bombardier__foto
                        img(src="assets/img/players/17.png", alt="")
                      a(href="#")
                        .bombardier__logo-team
                          img(src="assets/img/KPL-teams/Alga.png")
                        .bombardier__name Абдыжапаров Асланбек
                    .bombardier__score 11 
                  mixin bombardiers(foto,teamLogo,name,score)  
                    .bombardier__list-item
                      .bombardier__info
                        .bombardier__foto
                          img(src=foto, alt="")
                        a(href="#")
                          .bombardier__logo-team
                            img(src=teamLogo)
                          .bombardier__name=name
                      .bombardier__score=score
                  +bombardiers('assets/img/players/3.png','assets/img/KPL-teams/Dordoi.png','Мирлан Мурзаев', '11')
                  +bombardiers('assets/img/players/4.png','assets/img/KPL-teams/Neftchi.png','Давид Маких', '9')
                  +bombardiers('assets/img/players/5.png','assets/img/KPL-teams/Ilbirs.png','Мирбек Исманкулов', '9')
                  +bombardiers('assets/img/players/6.png','assets/img/KPL-teams/KaraBalta.png','Атабек Уморов', '8')
                  +bombardiers('assets/img/players/7.png','assets/img/KPL-teams/Abdysh-Ata.png','Антон Землянухин', '7')
                  +bombardiers('assets/img/players/8.png','assets/img/KPL-teams/Alai.png','Сергей Калашинац', '6')


      

      include includes/banner/banner
      include includes/partners/partners
    include includes/footer/footer

  include includes/scripts  