extends layout/main/main
block title
  | players
block main
  .wrapper
    .content
      include includes/header/header
      .players
        .container
          include includes/banner-team/banner-team
          .players__list-wrap
            .standings__control
              h3.heading Список заявленных футболистов
              form
                .select-wrap
                  span Сезон
                  .select
                    input(type="hidden" class="select-item" name="select-season" value="2019")
                    .select_checked 2019
                    ul.select__dropdown
                      each val in [2019, 2020, 2021, 2022, 2023]
                        li.select__option(data-value=val)=val            
            .players__list
              each item in player
                .players__item 
                  .players__player-info
                    .players__player-number=item.number
                    .players__player-info-wrap
                      .players__player-name=item.name
                      .players__player-position=item.position
                      .players__player-date-birth=item.dateBirth
                      .players__player-citizenship
                        .flag
                          img(src=item.flag, alt="")
                        .country=item.country
                  .players__player-photo
                    img(src=item.photo, alt="")
  
             
              
    include includes/footer/footer

  include includes/scripts  