extends layout/main/main
block title
  | standings
block main
  .wrapper
    .content
      include includes/header/header
      .info
        .container
          include includes/KPL-banner/banner
          include includes/tabs/tabs
          +tabs(['Таблица','Календарь игр','Бомбардиры'],'Статистика')
          .info__wrap
            .standings__control
              h3.heading Турнирная таблица
              form
                .select-wrap
                  span Сезон
                  .select
                    input(type="hidden" class="select-item" name="select-season" value="2019")
                    .select_checked 2019
                    ul.select__dropdown
                      each val in [2019, 2020, 2021, 2022, 2023]
                        li.select__option(data-value=val)=val  
            .standings__table
              table
                thead
                  mixin table(team, ...tds)
                    tr
                      th
                      th=team
                      each td in tds
                        th= td
                  +table('Команда', 'И', 'В', 'Н','П','ЗМ','ПМ','РМ','О')
                tbody
                  mixin table(number,logo,team, ...tds)
                    tr
                      td=number
                      td
                        a(href="#" class="standings__wrapper")
                          span.logo-team
                            img(src=logo)
                          =team
                      each td in tds
                        td= td
                  +table('1','assets/img/KPL-teams/Alga.png','Алга', '12', '11', '1','0','36','6','30','34')
                  +table('2','assets/img/KPL-teams/Dordoi.png','Дордой', '12', '7', '3','2','24','8','16','24')
                  +table('3','assets/img/KPL-teams/Neftchi.png','Нефтчи', '12', '7', '2','3','24','8','16','23')
                  +table('4','assets/img/KPL-teams/Ilbirs.png','Илбирс', '12', '6', '4','2','23','11','12','22')
                  +table('5','assets/img/KPL-teams/KaraBalta.png','Кара-Балта', '12', '6', '2','4','14','13','1','20')
                  +table('6','assets/img/KPL-teams/Abdysh-Ata.png','Абдыш-Ата', '12', '4', '4','4','11','16','-5','16')
                  +table('7','assets/img/KPL-teams/Alai.png','Алай', '12', '4', '2','6','9','23','-14','14')
                  +table('8','assets/img/KPL-teams/lider.png','Академия Лидер', '12', '3', '2','7','12','17','-5','11')


    include includes/footer/footer

  include includes/scripts  